{% extends "/base/default-page.html" %}
{# vim: set sw=2 et: #}

{% block default_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}">
<script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/leaflet-editable/src/Leaflet.Editable.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/leaflet.path.drag/src/Path.Drag.js') }}"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/materialize-css/extras/noUiSlider/nouislider.css') }}">
<script src="{{ url_for('static', filename='node_modules/materialize-css/extras/noUiSlider/nouislider.js') }}"></script>

<script src="{{ url_for('static', filename='node_modules/@turf/turf/turf.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/@turf/turf/turf.js') }}"></script>
{% endblock default_head %}

{% block additional_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='agni_map.css') }}">
{% endblock additional_head %}

{# barecontent block sits outside of the materialize css container #}
{% block barecontent %}
<div class="row" id="main-row">
  <!-- map -->
  <div class="col s12 m8 l9 push-m4 push-l3" id="mapdisplay"></div>
  <!-- map controls -->
  <div class="col s12 m4 l3 pull-m8 pull-l9" id="mapcontrols">
    <div class="container">
      <div>
        <form action="#" id="region-select">
          <div class="row input-field">
            <select id="region-list" class="select">
              {% for label, roi in roi_list %}
              {% if loop.first %}
              <option value="{{roi}}" selected="selected">{{label}}</option>"
              {% else %}
              <option value="{{roi}}">{{label}}</option>"
              {% endif %}
              {% endfor %}
            </select>
            <label>Region</label>
          </div>
        </form>
      </div>

      <div class="divider"></div>

      <ul class="tabs tabs-fixed-width">
        <li class="tab col"><a class="active" href="#hotspot-controls">Predict</a></li>
        <li class="tab col"><a href="#history-controls">History</a></li>
      </ul>

      <div id="hotspot-controls">
        <div class="section">
          <form action="#" id="map-options">
            <div class="row input-field">
              <input type="text" class="datepicker" id="hotspot-date" />
              <label class="active" for="hotspot-date">Hotspot Date</label>
            </div>
            <div class="row">
              <p class="range-field">
                <input type="range" min="0" max="60" value="60" id="hotspot-date-offset" />
              </p>
            </div>
          </form>
        </div>

        <div class="divider"></div>

        <div class="section">
          <form action="#" id="predict-options">
            <div class="row" id="zone-picker">
              <label for="zone-picker">Prediction Area<label>
              <p>
                <label>
                  <input id="zone-roi" class="with-gap" name="predict-region" type="radio" checked/>
                  <span>Current Region</span>
                </label>
              </p>
              <p>
                <label>
                  <input id="zone-rect" class="with-gap" name="predict-region" type="radio"/>
                  <span>Rectangle</span>
                </label>
              </p>
              <p>
                <label for="ignore-noise">
                  <input id="ignore-noise" type="checkbox" class="filled-in" />
                  <span>Ignore noise</span>
                </label>
              </p>
            </div>

            <div class="row right-align">
              <a class="waves-effect waves-light btn" id="draw-zone">Draw Zone</a>
              <a class="waves-effect waves-light btn" id="do-predict">Predict</a>
            </div>
          </form>
        </div>

        <span id="hotspot-info"></span>
      </div>
      <div id="history-controls">
        <div class="section">
          <form action="#" id="history-options">
            {{ hisctrl.csrf_token }}
            {% macro year_month(form) -%}
            <div class="row valign-wrapper">
              <span class="inline col s4">{{ form.label.text }}</span>
              <div class="input-field inline col s3">
                {{ form.year() }}
                {{ form.year.label }}
                <!--<span class="helper-text">{{ form.year.label.text }}</span>-->
              </div>
              <div class="input-field inline col s5">
                {{ form.month() }}
                {{ form.month.label }}
                <!--<span class="helper-text">{{ form.month.label.text }}</span>-->
              </div>
            </div>
            {%- endmacro %}

            <div class="row subopts-mode" id="hist-mode-year">
              {{ year_month(hisctrl.start) }}
              
              {{ year_month(hisctrl.end) }}

              {{ hisctrl.data_type.label }}
              {% for subfield in hisctrl.data_type %}
              <p>
                <label>
                  {{ subfield(class_="with-gap") }} <span>{{ subfield.label.text }}</span>
                </label>
              </p>
              {% endfor %}
            </div>

            <div class="row right-align">
              <a class="waves-effect waves-light btn" id="do-history">Show</a>
            </div>
          </form>
        </div> 
      </div>
    </div>
  </div>
  
</div>

<script type="text/python" src="{{ url_for('static', filename='agni_map.bry.py') }}">
{% endblock barecontent %}
