{% extends "/base/default-page.html" %}

{% block default_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}">
	<script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
{% endblock default_head %}

{% block content %}
<div id="mapdisplay" style="height: 60vh"></div>

<script type="text/python">
	from browser import document, window, ajax, bind

	leaflet = window.L
	jq = window.jQuery

	marker_opts = {
		"stroke": False,
		"radius": 6,
		"color": '#ff8833',
	}

	lmap = leaflet.map("mapdisplay",{"preferCanvas": True})
	marker_layer = leaflet.LayerGroup.new()

	def hotspot_get_jq(data, text_status, jqxhr):
		marker_layer.clearLayers()
		# data is already json
		for spot in data:
			coords = (spot['latitude'], spot['longitude'])
			leaflet.circleMarker(coords, marker_opts).addTo(marker_layer)
		marker_layer.addTo(lmap)

	# jQuery is somehow way faster
	def get_point_jq(ev):
		jq.ajax('/hotspots', {
			"dataType": "json",
			"success": hotspot_get_jq
		})

	lmap.on('load', get_point_jq)

	leaflet.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png", {
		"maxZoom": 18,
		"attribution": '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(lmap)

	lmap.setView([13, 100.8], 6)

	# for browser console debug only
	window.lmap = lmap
	window.marker_layer = marker_layer
</script>
{% endblock content %}
