{% extends "/base/default-page.html" %}

{% block title %}Register Successful{% endblock %}

{% block additional_head %}
<script type="text/javascript">
  setTimeout(function () {
       window.location.href = "{{ url_for('site.index') }}";
  }, 2000);
</script>
{% endblock %}

{% block content %}

<div class="row" style="min-height: 40vh;">
  <div class="col s12">
    <h3>Register Successful</h3>
    Going to <a href="{{ url_for('site.index') }}">main</a> page...
  </div>
</div>

{% endblock %}
